// -----------------------------------------------------------
//  GLOBAL FUNCTIONS
// -----------------------------------------------------------

$BASE_COLOR: #fff;
$MIN_WIDTH: 780px;
$MAX_WIDTH: 1280px;
$FONT_FAMILY: Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", sans-serif;
$FONT_SIZE: 16px;
$FONT_SIZE_MD: 1.8rem;
$LINE_HEIGHT: 1.8;
$FONT_COLOR: #000;
$LINK_COLOR: $FONT_COLOR;


$m-black: #23221E;
$d-black: #000;
$ll-gray:#f5f5f5;
$l-gray:#d8d8d8;
$d-gray: #6d6d6d;
$white: #fff;
$beige: #F7F5F2;
$red: #c44343;
$l-brown: #9f7356;

